<html>
<head>
	<title>Rotten Critics</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{static_url('vex.combined.min.js')}}"></script>
	<script>vex.defaultOptions.className = 'vex-theme-os'; </script>
	<link rel="stylesheet" href="{{static_url('vex.css')}}" />
	<link rel="stylesheet" href="{{static_url('vex-theme-os.css')}}" />
	<link rel="stylesheet" href="{{static_url('style.css')}}" />

{% block Javascript%}{% end %}
</head>

<body>
{% block content %}{% end %}
{% block game_content %}{% end %}
</body>
</html>