{% extends "base.html" %}

{% block Javascript %}
	<script type="text/javascript" src="{{static_url('home.js')}}"></script>

{% end %}


	
{% block content %}

<div id="enter_info">
	<form method='GET' action='/game'>
		Enter the name of an actor/actress  <input name="actor_entered" id="actor_entered" value="John Cazale"></input><br><br>

		Enter one or more players <input id="players" name="players" value='Larry, Curly, Moe'></input> <br>
		Seperate names with a "," <br> <br>
		<input type="submit" value="Start the game">
		<!-- <button id="start_game">Let's start the game. </button> -->
	</form>
</div>

<div id="game_content">

<br><br>
</div>


Rules of the game: <br>
Choose an actor or actress, and enter the names of one or more players. <br><br>

We present you some info from one movie of that actor. <br><br>

Try to guess the critics score of that movie. The critics score is the percentage
 of reviews that are positive for that movie on rottentomatoes.com. <br><br>

For every percentage you are above or below the actual critics score, you receive a penalty point. <br><br>

Play more rounds. At the end of the game, the player with the <b>least</b> 
amount of penalties <b>wins</b>. <br><br>






<!-- We'll present you a number of films from your chosen actor, each with a little bit of information. You need to guess what percentage of film reviews on Rottentomatoes.com are positive for this film. Every percentage point you are above or below the actual score, you recieve a penalty point. At the end of the game, the one with the least amount of penalties, wins. -->


{% end %}


